*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Montserrat", serif;
}

/* Utility */

:root{
    --spoty-dark: #000000;
    --spoty-light: #fefefe;
    --spoty-primary: #080b12;
    --spoty-bg-top: #141922;
    --spoty-bg-bottom: #282828;
    --spoty-border: #adff2f;
    --spoty-text: #7c7e83;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-6{
    width: 50%;
}

/* Debug */

.debug {
    border: 1px dashed white;
}

/* Top */

.top{
    display: flex;
}

.sidebar{
    background-color: var(--spoty-dark);
    height: calc(100vh - 90px);
    width: 50px;
    padding: 0.25rem 0.50rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside_top{
    display: flex;
    flex-direction: column;
    gap: 0.50rem;
}

/* Main */

#site_main{
    height: calc(100vh - 90px);
    overflow-y: auto;
}

header{
    height: 90px;
    background-color: var(--spoty-primary);
}

#site_nav{
    height: 100px;
    background-color: var(--spoty-bg-top);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    span{
        display: inline-block;

        a{
            text-decoration: none;
            color: var(--spoty-text);
        }
    }
}

.recently{
    background-color: var(--spoty-bg-top);
    color: var(--spoty-light);

    h2{
        padding: 1rem;
    }
}

.card{
    padding: 1rem;
    text-align: center;
    img{
        width: 100%;
    }
}


/* Bottom */

.bottom{
    height: 90px;
    background-color: var(--spoty-bg-bottom);
}